<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/IntellijJava/MyFirstJava">

    <classes>
        <class name="MavenTest1"/>
        <class name="MavenTest2"/>
        <class name="MavenTest3"/>
    </classes>
    </test></suite>